{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-12">
          <div class="card h-100">
            <div class="card-header pb-0 px-3">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">Egg Production Records</h6>
                </div>
                <div class="col-6 text-end">
                  <button class="btn btn-outline-primary btn-sm mb-0">View All</button>
                </div>
              </div>
            </div>
            <div class="card-body pt-4 p-3">
              <table class="table">
                <!-- Table headers -->
                <thead>
                  <tr>
                    <th>Date of Production</th>
                    <th>Quantity</th>
                    <th>Retail Price</th>
                    <th>Wholesale Price</th>
                  </tr>
                </thead>
                <!-- Table body - Display egg records -->
                <tbody>
                  {% for egg in eggs %}
                  <tr>
                    <td>{{ egg.date_of_production }}</td>
                    <td>{{ egg.quantity }}</td>
                    <td>{{ egg.retail_price }}</td>
                    <td>{{ egg.wholesale_price }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Your additional content for the right side -->
    </div>
  </div>
  <!-- Footer -->
  {% include "includes/footer.html" %}
</div>
{% endblock content %}
